<ul class="list-unstyled p-3">
  <% messages.each do |message| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(message.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to message.user.name, user_path(message.user) %> <span class="text-muted">posted at <%= message.created_at %></span>
        </div>
        <div>
          <p class="mb-3"><%= message.content %></p>
        </div>
        <div class="d-flex flex-row">
          <div class="mr-2">
            <% if current_user == message.user %>
              <%= link_to 'Delete', message_path(message), method: :delete, data: { confirm: "本当に削除してもよろしいですか?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
          <div>
            <% if current_user.favorited?(message) %>
              <%= form_with(model: current_user.favorites.find_by(message_id: message.id), local: true, method: :delete) do |f| %>
                <%= hidden_field_tag :message_id, message.id %>
                <%= f.submit 'Unfavorite', class: 'btn btn-danger btn-sm' %>
              <% end %>
            <% else %>
              <%= form_with(model: current_user.favorites.build, local: true) do |f| %>
                <%= hidden_field_tag :message_id, message.id %>
                <%= f.submit 'Favorite', class: 'btn btn-primary btn-sm' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <div class="pt-4">
    <%= paginate messages %>
  </div>
</ul>